html {
    background-color: black;
}

.container {
    width: 1500px;
    height: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
}

a:hover {
    cursor: pointer;
}

#descr {
    text-align: center;
}

#welcome {
    -webkit-animation: flicker .2s infinite;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
}

#startGame {
    -webkit-animation: flicker 2s infinite;
    border: 2px solid yellow;
    background-color: transparent;
    margin-top: 10%;
    position: absolute;
    margin-left: 45%;
    font-size: 40px;
}

#startGame:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }
    9% {
        opacity: 0;
    }
    10% {
        opacity: .5;
    }
    13% {
        opacity: 0;
    }
    20% {
        opacity: .5;
    }
    25% {
        opacity: 1;
    }
}

#timer {
    text-align: center;
    font-size: 50px;
}

.text-game {
    position: absolute;
    font-size: 40px;
    left: 43%;
}

#text-game-input {
    display: none;
    width: 300px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}

#score {
    font-size: 30px;
    display: none;
}

#messageBox {
    font-size: 45px;
    color: red;
}

#lost-window {
    text-align: center;
    position: absolute;
    background-color: gray;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}